
/* Active line background */
.CodeMirror-activeline-background{
    background-color: grey;
}

/*Active line number */
Mark Active Line Number in Editor
.cm-s-obsidian .CodeMirror-activeline-gutter > .CodeMirror-linenumber {
  font-weight: 600;
  color: grey;
}
