/*----------------------------------------------------------------
ADMONITION PLUGIN 
----------------------------------------------------------------*/

:root{
        --admonition-icon--note: url("https://api.iconify.design/bx:bxs-note.svg") !important;
        --admonition-icon--quote: url("https://api.iconify.design/bx:bxs-quote-alt-left.svg") !important;
        --admonition-icon--question: url("https://api.iconify.design/bx:bxs-help-circle.svg") !important;
        --admonition-icon--danger: url("https://api.iconify.design/bx:bxs-traffic-barrier.svg") !important;
        --admonition-icon--example: url("https://api.iconify.design/bx:bxs-copy-alt.svg") !important;
        --admonition-icon--success: url("https://api.iconify.design/bx:bxs-check-circle.svg") !important;
        --admonition-icon--hint: url("https://api.iconify.design/ri:leaf-fill.svg") !important;
        --admonition-icon--help: url("https://api.iconify.design/bx:bxs-wrench.svg") !important;
        --admonition-icon--important: url("https://api.iconify.design/bx:bxs-bolt-circle.svg") !important;
        --admonition-icon--cite: url("https://api.iconify.design/bx:bxs-spreadsheet.svg") !important;
        --admonition-icon--missing: url("https://api.iconify.design/bx:bxs-low-vision.svg") !important;
        --admonition-icon--summary: url("https://api.iconify.design/bx:bxs-detail.svg") !important;
        --admonition-icon--warning: url("https://api.iconify.design/bx:bxs-error.svg") !important;
        --admonition-icon--abstract: url("https://api.iconify.design/bx:bx-menu.svg") !important;
        --admonition-icon--info: url("https://api.iconify.design/bx:bxs-info-circle.svg") !important;
        --admonition-icon--tip: url("https://api.iconify.design/ic:outline-local-fire-department.svg") !important;
        --admonition-icon--failure: url("https://api.iconify.design/bx:bxs-x-circle.svg") !important;
        --admonition-icon--bug: url("https://api.iconify.design/bx:bxs-bug.svg") !important;

        --admonition-icon--check: url("https://api.iconify.design/mdi:check-bold.svg") !important;
        --admonition-icon--todo: url("https://api.iconify.design/bx:bxs-check-square.svg") !important;
        --admonition-icon--faq: url("https://api.iconify.design/ri:questionnaire-fill.svg") !important;
        --admonition-icon--done: url("https://api.iconify.design/bx:bxs-flag-checkered.svg") !important;
        --admonition-icon--seealso: url("https://api.iconify.design/ri:pushpin-fill.svg") !important;
        --admonition-icon--caution: url("https://api.iconify.design/bx:bxs-traffic-cone.svg") !important;
        --admonition-icon--attention: url("https://api.iconify.design/ri:lightbulb-fill.svg") !important;
        --admonition-icon--error: url("https://api.iconify.design/bx:bxs-tag-x.svg") !important;
}

.admonition-title-icon {
    position: absolute;
    left: 1rem !important;
    width: 1.4rem !important;
    height: 1.5rem !important;
    color: transparent !important;
    display: none !important;
    justify-content: center;
    align-items: center;
}

.admonition {
    margin: 1.5625em 0 !important;
    padding: 0 0.5rem !important;
    overflow: hidden;
    color: var(--text-normal);
    page-break-inside: avoid;
    background-color: var(--background-primary-alt) !important;
    border-left: 0.2rem solid;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.admonition-title::before {
    position: absolute !important;
    left: 1.0rem !important; /*0.6rem !important;*/
    width: 1.4rem !important;
    height: 1.5rem !important;
    content: "";
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.admonition-title {
    position: center;
    margin: 0 -0.6rem 0 -0.8rem !important;
    padding: 0.4rem 0.6rem 0.4rem 2.75rem !important; /*2.25rem !important;*/
    font-weight: 700;
    border-left: 0.2rem solid;
}

.admonition-content {
    margin: .75em 0 !important;
    padding-left: .5rem !important; 
    padding-right: .5rem !important;
}

/** Type Specific */

.admonition-note {
    border-color: #448aff;
}
.admonition-note > .admonition-title {
    background-color: rgba(68, 138, 255, 0.2) !important;
}
.admonition-note > .admonition-title::before {
    background-color: #448aff;
    -webkit-mask-image: var(--admonition-icon--note);
    mask-image: var(--admonition-icon--note);
}

.admonition-abstract {
    border-color: #00b0ff;
}
.admonition-abstract > .admonition-title {
    background-color: rgba(0, 176, 255, 0.2) !important;
}
.admonition-abstract > .admonition-title::before {
    background-color: #00b0ff;
    -webkit-mask-image: var(--admonition-icon--abstract);
    mask-image: var(--admonition-icon--abstract);
}

.admonition-info {
    border-color: #00b8d4;
}
.admonition-info > .admonition-title {
    background-color: rgba(0, 184, 212, 0.2) !important;
}
.admonition-info > .admonition-title::before {
    background-color: #00b8d4;
    -webkit-mask-image: var(--admonition-icon--info);
    mask-image: var(--admonition-icon--info);
}

.admonition-tip {
    border-color: #00bfa5;
}
.admonition-tip > .admonition-title {
    background-color: rgba(0, 191, 165, 0.2) !important;
}
.admonition-tip > .admonition-title::before {
    background-color: #00bfa5 !important;
    -webkit-mask-image: var(--admonition-icon--tip) !important;
    mask-image: var(--admonition-icon--tip) !important;
}

.admonition-success {
    border-color: #00c853;
}
.admonition-success > .admonition-title {
    background-color: rgba(0, 200, 83, 0.2) !important;
}
.admonition-success > .admonition-title::before {
    background-color: #00c853;
    -webkit-mask-image: var(--admonition-icon--success);
    mask-image: var(--admonition-icon--success);
}

.admonition-question {
    border-color: #64dd17;
}
.admonition-question > .admonition-title {
    background-color: rgba(100, 221, 23, 0.2) !important;
}
.admonition-question > .admonition-title::before {
    background-color: #64dd17;
    -webkit-mask-image: var(--admonition-icon--question);
    mask-image: var(--admonition-icon--question);
}

.admonition-warning {
    border-color: #ff9100;
}
.admonition-warning > .admonition-title {
    background-color: rgba(255, 145, 0, 0.2) !important;
}
.admonition-warning > .admonition-title::before {
    background-color: #ff9100;
    -webkit-mask-image: var(--admonition-icon--warning);
    mask-image: var(--admonition-icon--warning);
}

.admonition-failure {
    border-color: #ff5252;
}
.admonition-failure > .admonition-title {
    background-color: rgba(255, 82, 82, 0.2) !important;
}
.admonition-failure > .admonition-title::before {
    background-color: #ff5252;
    -webkit-mask-image: var(--admonition-icon--failure);
    mask-image: var(--admonition-icon--failure);
}

.admonition-danger {
    border-color: #ff1744;
}
.admonition-danger > .admonition-title {
    background-color: rgba(255, 23, 68, 0.2) !important;
}
.admonition-danger > .admonition-title::before {
    background-color: #ff1744;
    -webkit-mask-image: var(--admonition-icon--danger);
    mask-image: var(--admonition-icon--danger);
}

.admonition-bug {
    border-color: #f50057;
}
.admonition-bug > .admonition-title {
    background-color: rgba(245, 0, 87, 0.2) !important;
}
.admonition-bug > .admonition-title::before {
    background-color: #f50057;
    -webkit-mask-image: var(--admonition-icon--bug);
    mask-image: var(--admonition-icon--bug);
}

.admonition-example {
    border-color: #7c4dff;
}
.admonition-example > .admonition-title {
    background-color: rgba(124, 77, 255, 0.2) !important;
}
.admonition-example > .admonition-title::before {
    background-color: #7c4dff;
    -webkit-mask-image: var(--admonition-icon--example);
    mask-image: var(--admonition-icon--example);
}

.admonition-quote {
    border-color: #ddabff !important;
}
.admonition-quote > .admonition-title {
    background-color: hsla(276, 100%, 84%, 0.2) !important;
}
.admonition-quote > .admonition-title::before {
    background-color: #ddabff !important;
    -webkit-mask-image: var(--admonition-icon--quote);
    mask-image: var(--admonition-icon--quote);
}

.admonition-hint {
    border-color: #ffdd00 !important;
}
.admonition-hint > .admonition-title {
    background-color:  hsla(52, 100%, 50%, 0.2);
}
.admonition-hint > .admonition-title::before {
    background-color: #ffdd00;
    -webkit-mask-image: var(--admonition-icon--hint);
    mask-image: var(--admonition-icon--hint);
}

.admonition-help {
    border-color: #9e9e9e !important;
}
.admonition-help > .admonition-title {
    background-color: hsla(0, 0%, 62%, 0.2);
}
.admonition-help > .admonition-title::before {
    background-color: #9e9e9e;
    -webkit-mask-image: var(--admonition-icon--help);
    mask-image: var(--admonition-icon--help);
}

.admonition-important {
    border-color: #ffdd00 !important;
}
.admonition-important > .admonition-title {
    background-color: hsla(52, 100%, 50%, 0.2);
}
.admonition-important > .admonition-title::before {
    background-color: #ffdd00;
    -webkit-mask-image: var(--admonition-icon--important);
    mask-image: var(--admonition-icon--important);
}

.admonition-cite {
    border-color: #a2acc3 !important;
}
.admonition-cite > .admonition-title {
    background-color: hsla(222, 22%, 70%, 0.2);
}
.admonition-cite > .admonition-title::before {
    background-color: #a2acc3 !important;
    -webkit-mask-image: var(--admonition-icon--cite);
    mask-image: var(--admonition-icon--cite);
}

.admonition-missing {
    border-color: #04001a !important;
}
.admonition-missing > .admonition-title {
    background-color: hsla(0, 0%, 0%, 0.2);
}
.admonition-missing > .admonition-title::before {
    background-color: #04001a;
    -webkit-mask-image: var(--admonition-icon--missing);
    mask-image: var(--admonition-icon--missing);
}

.theme-dark .admonition-missing {
    border-color: #444257 !important;
}
.theme-dark .admonition-missing > .admonition-title {
    background-color: hsla(247, 14%, 30%, 0.2);
}
.theme-dark .admonition-missing > .admonition-title::before {
    background-color: #444257;
    -webkit-mask-image: var(--admonition-icon--missing);
    mask-image: var(--admonition-icon--missing);
}

.admonition-summary {
    border-color: #ffbaeb !important;
}
.admonition-summary > .admonition-title {
    background-color: hsla(317, 100%, 86%,  0.2);
}
.admonition-summary > .admonition-title::before {
    background-color: #ffbaeb;
    -webkit-mask-image: var(--admonition-icon--summary);
    mask-image: var(--admonition-icon--summary);
}

/*-- new admonitions --*/

.admonition-check {
    border-color: #9cbaff !important;
}
.admonition-check > .admonition-title {
    background-color: rgba(156, 186, 255, 0.2);
}
.admonition-check > .admonition-title::before {
    background-color: #9cbaff;
    -webkit-mask-image: var(--admonition-icon--check);
    mask-image: var(--admonition-icon--check);
}

.admonition-todo {
    border-color: #82a8ff !important;
}
.admonition-todo > .admonition-title {
    background-color: rgba(130, 168, 255, .2);
}
.admonition-todo > .admonition-title::before {
    background-color: #82a8ff;
    -webkit-mask-image: var(--admonition-icon--todo);
    mask-image: var(--admonition-icon--todo);
}

.admonition-faq {
    border-color: #c3cce0 !important;
}
.admonition-faq > .admonition-title {
    background-color: rgba(188, 196, 214, 0.2);
}
.admonition-faq > .admonition-title::before {
    background-color: #c3cce0 !important;
    -webkit-mask-image: var(--admonition-icon--faq);
    mask-image: var(--admonition-icon--faq);
}

.admonition-done {
    border-color: #00ad68 !important;
}
.admonition-done > .admonition-title {
    background-color: rgba(0, 173, 104, 0.2);
}
.admonition-done > .admonition-title::before {
    background-color: #00ad68;
    -webkit-mask-image: var(--admonition-icon--done);
    mask-image: var(--admonition-icon--done);
}

.admonition-seealso {
    border-color: #ffa6d2 !important;
}
.admonition-seealso > .admonition-title {
    background-color: rgba(255, 166, 210, 0.25);
}
.admonition-seealso > .admonition-title::before {
    background-color: #ffa6d2;
    -webkit-mask-image: var(--admonition-icon--seealso);
    mask-image: var(--admonition-icon--seealso);
}

.admonition-caution {
    border-color: #ffb300 !important;
}
.admonition-caution > .admonition-title {
    background-color: rgba(255, 179, 0, 0.2);
}
.admonition-caution > .admonition-title::before {
    background-color: #ffb300;
    -webkit-mask-image: var(--admonition-icon--caution);
    mask-image: var(--admonition-icon--caution);
}

.admonition-attention {
    border-color: #ffed4d !important;
}
.admonition-attention > .admonition-title {
    background-color: rgba(255, 240, 77, 0.15);
}
.admonition-attention > .admonition-title::before {
    background-color: #ffed4d !important;
    -webkit-mask-image: var(--admonition-icon--attention);
    mask-image: var(--admonition-icon--attention);
}

.admonition-error {
    border-color: #04001a !important;
}
.admonition-error > .admonition-title {
    background-color: hsla(0, 0%, 0%, 0.2);
}
.admonition-error > .admonition-title::before {
    background-color: #04001a;
    -webkit-mask-image: var(--admonition-icon--error);
    mask-image: var(--admonition-icon--error);
}

.theme-dark .admonition-error {
    border-color: #626075 !important;
}
.theme-dark .admonition-error > .admonition-title {
    background-color: rgba(98, 96, 117, 0.1);
}
.theme-dark .admonition-error > .admonition-title::before {
    background-color: #626075;
    -webkit-mask-image: var(--admonition-icon--error);
    mask-image: var(--admonition-icon--error);
}

.admonition-thoughts {
    border-color: #04001a !important;
}
.admonition-thoughts > .admonition-title {
    background-color: hsla(0, 0%, 0%, 0.2);
}
.admonition-thoughts > .admonition-title::before {
    background-color: #04001a;
    -webkit-mask-image: var(--admonition-icon--quote);
    mask-image: var(--admonition-icon--quote);
}
