:root{
 /*----------------------------------------------------------------
  Font styles
  Preview mode and UI */

  --default-font: Times New Roman, serif;
  /* Editor mode */

  --text-editor: Arial, sans-serif;
  /* Code */

  --font-monospace: Menlo,SFMono-Regular,Consolas,"Roboto Mono", monospace;
  /* Sizes, weights, padding */

  
}

body { /*Text body*/
  font-family: var(--default-font);
}

text{
  font-family: var(--default-font);
}

.markdown-preview-view blockquote {
  font-family: var(--default-font);
}

.markdown-source-view {  /*Editor Mode*/
  font-family: var(--text-editor);
}

.cm-s-obsidian .HyperMD-table-row {
  font-family: var(--font-monospace);
}

.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd {
  font-family: var(--font-monospace);
}

.cm-s-obsidian .HyperMD-codeblock {
  font-family: var(--font-monospace);
}

.markdown-preview-view code {
  font-family: var(--font-monospace);
}

 /* Code blocks */
  /* Inline code */

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-monospace);
}
