.kanban ul {
  display: flex;
  width:100%;
  flex-direction: row;
  background-color: var(--background-secondary);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.9rem;
  padding-top: 0.0rem;
  flex-wrap: wrap;
}

.kanban div > ul > li{
  padding-top: 0.9rem;
  padding-left: 3px
}

.kanban .list-collapse-indicator.collapse-indicator.collapse-icon{
  padding-left: 44px;
 /* padding-right: 0.3rem; */
}
.kanban .task-list-item-checkbox {
margin-left: 1.5rem;
margin-right: 0.75rem;
}

.kanban ul h1,
.kanban ul h2,
.kanban ul h3,
.kanban ul h4,
.kanban ul h5,
.kanban ul h6{
    margin-block-start: 0rem;
     margin-block-end: 0rem;
    margin-left: 0
}


.kanban ul li {
  flex: 1;
  padding-left: 0px;
  padding-right: 9px;
  list-style: none;
}

.kanban ul ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
  border-radius: 0;
  border: 0;
}


.kanban ul ul li {
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding: 0.525rem;
}

.kanban ul .markdown-preview-sizer.markdown-preview-section{
  min-height: 0!important;
  padding: 0!important;
}

.kanban ul .internal-embed.is-loaded {
  padding: 0 !important;
  margin-bottom: 0px!important;
}

.kanban ul .markdown-preview-view{
    padding: 0px 1px 1px 10px;
}

.kanban ul ul ul {
  margin-right: 0;
}

.kanban ul ul::before {
  border-left: 0;
}

.markdown-preview-view.is-readable-line-width.kanban
.markdown-preview-sizer
> div
> ul {
  max-width: 100%;
}

.kanban ul li .list-collapse-indicator.collapse-indicator.collapse-icon {
margin-right: 8px;
}
.kanban ul li .list-collapse-indicator.collapse-indicator.collapse-icon + *{
margin-left: 0px;
}
.kanban ul li .list-collapse-indicator.collapse-indicator.collapse-icon + span > div.markdown-embed .markdown-preview-view {
padding-left: 0px;
}


.theme-light .kanban ul ul li:nth-child(odd) {
  background: #ffffff70;
  border-top: 1px solid var(--background-secondary);
}

.theme-light .kanban ul ul li:nth-child(even) {
  background: #ffffff10;
  border-top: 1px solid var(--background-secondary);
}

.theme-light .kanban ul ul {
  background: #ffffff04;
}

.theme-light .kanban ul ul li:hover {
  background: #C7C8C910;
}

.theme-dark .kanban ul ul li:nth-child(odd) {
  background: #4F4F4F01;
  border-top:1px solid var(--background-secondary);
}

.theme-dark .kanban ul ul li:nth-child(even) {
  background: #4F4F4F10;
  border-top:1px solid var(--background-secondary);
}

.theme-dark .kanban ul ul {
  background: #20202090;
}

.theme-dark .kanban ul ul li:hover {
  background: #4F4F4F09;
}

.kanban li div {width: fit-content;}
