/* Transcluded notes embeds */



.markdown-preview-view .markdown-embed {
  padding:0 calc(var(--nested-padding) / 2) 0 var(--nested-padding);
}
.markdown-embed-title {
  line-height:18px;
  height:24px;
  display: none;
}
.markdown-embed .markdown-preview-sizer {
    padding-left: 1em !important;
    padding-top: .5em !important;
    min-height: 0em !important;
}
.markdown-embed .markdown-preview-sizer:first-child ul {
  margin-block-start:2px;
}
.markdown-embed .markdown-preview-section:last-child p,
.markdown-embed .markdown-preview-section:last-child ul {
  margin-block-end:2px;
}
.markdown-embed-link,
.file-embed-link {
  top:0px;
  right:0;
  text-align:right;
}
.file-embed-link svg,
.markdown-embed-link svg {
  width:16px;
  opacity:0;
}
.markdown-embed:hover .file-embed-link svg,
.markdown-embed:hover .markdown-embed-link svg {
  opacity:1;
}
.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
  max-height: none !important;}
.internal-embed > .markdown-embed > .markdown-embed-content {
    width: 100%;
    padding-right: 1em;
}
.markdown-embed .markdown-preview-view {
  padding:0;}
.internal-embed .markdown-embed {
  border:0;
  border:.5px solid var(--background-tertiary);
  border-left:2px solid var(--text-accent);
  border-radius:0;
  padding-left: 0;
  background-color: var(--background-primary-alt);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}




.internal-embed .markdown-embed:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate3d(0px, -3px, 0px);
}
br + .internal-embed {
    margin-top: 0rem;
}
.markdown-embed-title ~ .markdown-embed-link,
.internal-embed[src*="#"] .markdown-embed-link {
  right:0 !important;
  width:3%;
}

.internal-embed:not([src*="#^"]) .markdown-embed-link {
    left: auto;
}
.internal-embed[src*="^"] .markdown-preview-sizer {
    padding-left: .25em !important;
    padding-top: 0 !important;
    padding-bottom: .4em !important;
}
li > div.internal-embed {
    display: inline-flex;
    width: 99%
}

li .internal-embed .markdown-embed {
    display: flex;

}

.markdown-embed-title {
  line-height:18px;
  height:24px;
  display: none;
}
.markdown-embed .markdown-preview-sizer {
    padding-left: 1em;
    padding-top: .5em;
}

/* Makes block embeds on a task list item line up with the checkbox */
.task-list-item > .internal-embed.is-loaded {
    margin-top: -1.9em;
    padding-left: .5em;
    display: contents;
    /*max-width: 100%
    width: max-content;
    inline-size: max-content;
    block-size: max-content; */
}

ul > .internal-embed {
    content: '';
    border-left: 1px solid var(--background-modifier-border);
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
}

.markdown-preview-view ul > li.task-list-item {
    display: inline-block;
}

.contains-task-list {
    display: grid;
}

body.minimal-rel-preview .markdown-preview-view ul ul::before {
    left: -10px;
}

/* Popovers */

.popover {
  box-shadow:0 20px 40px var(--background-modifier-box-shadow);
  pointer-events:auto !important;
  border:1px solid var(--background-modifier-border);
}
.popover .markdown-embed-link {
  display:none;
}
.popover .markdown-embed .markdown-preview-view {
  padding-bottom:1em;
}
.popover.hover-popover .markdown-embed .markdown-embed-content {
  max-height: none !important;
}

.popover.hover-popover .internal-embed[src*="^"] .markdown-embed {
    height: 100%;
    max-height: none;
}

.popover.hover-popover .internal-embed[src*="^"] {
    height: 3.25em;
}

.popover.hover-popover {
  max-height:40vh;
}


/* Embedded searches */
.internal-query {
    background-color: var(--background-tertiary);
    border-radius: 5px;
}

.markdown-preview-view .internal-query.is-embed .internal-query-header {
    justify-content: center;
}

.internal-query-header-title {
    display: none;
}

/* Blockquotes */
.markdown-preview-view li > blockquote {
    background-color: var(--background-modifier-box-shadow);
    padding: .5em 1em .5em 1em;
    margin-left: -.1em;
    margin-top: 1.25em;
    margin-bottom: 0em;
    line-height: 1.3em;
}

li > blockquote {

}

/* California Coast edits */
.cc-pretty-preview .markdown-preview-view h1 {
    margin-top: 1.25rem !important;
}

.cc-pretty-preview .markdown-preview-view h2 {
    margin-top: 1.1rem;
}

.cc-pretty-preview .markdown-preview-view h3 {
    margin-top: 1rem;
}



/* Inactive pane fade
.workspace-split.mod-root .view-content {
    background-color: var(--shade-20);
}

.workspace-leaf.mod-active > .view-content {
    background-color: var(--background-primary) !important;
}
*/
.workspace-split.mod-root .view-content {
    background-color: var(--shade-10);
}

.workspace-leaf.mod-active .view-content {
    background-color: var(--background-primary);
}

.markdown-preview-view .internal-query.is-embed .search-results-children {
    overflow: visible;
    max-height: fit-content;
}
