/* TOOLTIP */

/* LIGHT TOOLTIP */
.tooltip{
	font-weight: 500;
	font-family: var(--default-font);
}

.theme-light .tooltip{
 background-color: var(--background-primary);
 color: var(--text-normal);
}

.theme-light
.tooltip .tooltip-arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  width: 0;
  margin-left: -5px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.theme-light
.tooltip.mod-right .tooltip-arrow {
  top: calc(50% - 5px);
  left: -5px;
  border-right: 5px solid rgba(255, 255, 255, 0.9);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.theme-light
.tooltip.mod-left .tooltip-arrow {
  top: calc(50% - 5px);
  left: calc(100% + 5px);
  border-left: 5px solid rgba(255, 255, 255, 0.9);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.theme-light
.tooltip.mod-top .tooltip-arrow {
  top: calc(100%);
  border-top: 5px solid rgba(255, 255, 255, 0.9);
  border-bottom: 5px solid transparent;
}
